<header id="nav">
	LOGO 
	<ul class="nav">
		<li>About</li>
		<li>Contact</li>
	</ul>

	<ul class="nav pull-right social-nav">
		<li>Twitter</li>
		<li><a href="https://github.com/dstevens-cs" target="_blank">Github</a></li>
	</ul>
</header>

<section id="header">
  <div id="workspace">
    <div class="desk">
      <div class="table">
        <div class="drawers">
        </div>

        <span class="cup">
        </span>

        <div class="imac">
        </div>

        <div class="ext-screen">
        </div>

        <span class="iphone">
        </span>
      </div>

      <div class="chair">
      </div>

      <div class="trash">
      </div>
    </div>

    <div class="bookcase">
      <div class="shelf">
      </div>
      <div class="shelf">
      </div>
      <div class="shelf">
      </div>
    </div>
  </div>
</section>

<section id="sub-nav">
	<ul class="nav">
		<li>Projects</li>
		<li>Writing</li>
	</ul>
</section>


<section id="projects">
  <div class="project">
    <%= image_tag(image_path("HuddleWP.jpg"), alt: "UltiTeam") %>
    <h2>UltiTeam</h2>
    <p>Ultimate Team Management made simple</p>
    <a href="http://ultiteam.io">View more</a>
  </div>
</section>

<section id="writing">
Writing
</section>

<footer id="footer">
Footer
</footer>