<header id="nav">

</header>
<section id="quote">

</section>

<section id="quantself">
	<div class="day">
		<h1><%= @day.day_date %></h1>
		<p>Sleep: <%= @day.min_slept %> | Steps: <%= @day.step_total %></p>
		<p>Commits: <%= @day.commits %></p>
		<div id="storyline"></div>
	</div>
</section>

<section id="projects">

</section>

<section id="about">
	<aside id="blog">
		Blog
	</aside>
</section>

<footer id="footer">
</footer>